/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base styles
*/

div, section, article, p,
h1, h2, h3, h4, h5, h6, li {
  box-sizing: border-box;
}

// headings

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
}

h3 {
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

h5 {
  font-size: 0.83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
}

h6 {
  font-size: 0.67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
}

article, aside, nav, section {
  h1 {
    font-size: 1.5rem;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
  }
  h2 {
    font-size: 1.17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

a {
  color: $baseFontColor;
}

img {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

table {
  margin-left: 1rem;
  width: 80%;
  max-width: 720px;
  tr {
    th,
    td {
      padding: 0.3rem 0.4rem;
      border: 1px solid $baseFontColor;
    }
    th {
      border: 1px double $baseFontColor;
      font-weight: bold;
    }
  }
}

/* text */

.image-description {
  display: block;
  margin-top: -1rem;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  color: $primaryFontColor;
}

.show-inline-text-mobile {
  @media all and (min-width: $deviceTablet) {
    display: none;
  }
}
.show-inline-text-tablet {
  display: none;
  @media all and (min-width: $deviceTablet) {
    display: inline;
  }
}