.global-wrapper {
  // position: relative;
  margin: 0 auto;
  max-width: 1024px;
  color: $baseFontColor;
  header {
    padding: 0.6rem;
    @media all and (min-width: $deviceTablet) {
      padding: 0.6rem 1.6rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $baseFontColor;
    .site-logo {
      padding: 0;
      width: 20%;
      max-width: 4rem;
      a {
        display: block;
        width: 100%;
        padding-top: 100%;
        font-size: 0;
        text-indent: -99999px;
        line-height: 1;
        background-image: url("../assets/images/logo-square.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .nav-wrapper {
      width: 60%;
      max-width: 480px;
      nav {
        ul {
          display: flex;
          li {
            text-align: center;
            width: 33.333%;
            a {
              text-decoration: none;
              font-weight: bold;
            }
          }
          li.active {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .content-wrapper {
    padding: 1.2rem 0.6rem;
    @media all and (min-width: $deviceTablet) {
      padding: 2.4rem 3rem;
    }
    margin-bottom: 2rem;
    ul {
      li {
        margin-left: 2rem;
        margin-bottom: 0.4rem;
        list-style: square;
        line-height: 1.6;
      }
    }
    h2 {
      margin-top: 2rem;
    }
    h3 {
      margin-top: 1.8rem;
    }
  }
  .main-wrapper {
    .main-logo {
      margin: 0 auto;
      margin-top: 2rem;
      @media all and (min-width: $deviceTablet) {
        margin-top: 4rem;
        margin-bottom: 6rem;
        max-width: 600px;
      }
      p,
      code {
        display: block;
        text-align: center;
        color: $primaryFontColor;
        font-size: 0.8rem;
        @media all and (min-width: $deviceTablet) {
          font-size: 1rem;
        }
      }
      .tagline {
        font-weight: bold;
        margin-bottom: 0;
        span {
          text-decoration: underline;
        }
      }
      code {
        font-family: monospace;
        margin-bottom: 2rem;
      }
      h1 {
        margin-bottom: 1.2rem;
        padding-top: 7%;
        width: 100%;
        font-size: 0;
        text-indent: -99999px;
        line-height: 1;
        background-image: url("../assets/images/logo-bar-sprite.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0%;
      }
    }
    .main-description {
      p {
        @media all and (min-width: $deviceTablet) {
          text-align: center;
        }
      }
    }
  }
  .intro-wrapper {
    img {
      @media all and (min-width: $deviceTablet) {
        margin: 0 auto;
        margin-top: 2rem;
        width: 80%;
      }
    }
  }
  .membership-wrapper {
    table {
      width: 94%;
      @media all and (min-width: $deviceTablet) {
        width: 90%;
      }
    }
  }
  .signup-wrapper {
    .signup-content {
      position: relative;
      @media all and (min-width: $deviceTablet) {
        min-height: 530px;
      }
      .text-wrapper {
        width: 100%;
        @media all and (min-width: $deviceTablet) {
          padding-right: 300px;
        }
      }
      .calendar-wrapper {
        margin: 0 auto;
        width: 90%;
        width: 280px;
        @media all and (min-width: $deviceTablet) {
          position: absolute;
          width: 260px;
          top: 0;
          right: 0;
        }
        iframe {
          border: 0;
          width: 280px;
          height: 480px;
          @media all and (min-width: $deviceTablet) {
            width: 260px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 0.6rem;
  }
}